<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="Host" value="kinopoisk.ru"/>
        <add key="SearchLinkTemplate" value="http://www.kinopoisk.ru/s/type/film/find/{0}/m_act%5Byear%5D/{1}"/>
        <add key="FilmLinkTemplate" value="http://www.kinopoisk.ru/film/{0}"/>
        <add key="OutputFileName" value="films.js"/>
        <add key="FilmYear" value=""/>
        <add key="FilmList" value="Рок на века; Жизнь Пи; Отверженные; Город порока"/>
    </appSettings>
</configuration>
